@page "/BindingDemo"
@rendermode InteractiveServer
<h3>BindingDemo</h3>

<input type="text" @bind="@TextValue1" /> @TextValue1"
<br />
<br />
<input type="text" @bind-value="@TextValue2" @bind-value:event="oninput" />@TextValue2
<br />

@* added after *@
<input type="text"
    @bind-value="@TextValue3" 
    @bind-value:after=@(()=> {TextValue3 = TextValue3 + " ✅";}) 
    /> @TextValue3
<br />
@* added after same way but differenty method*@
<input type="text"
    @bind-value:set="@((newValue)=> TextValue4=newValue))" 
    @bind-value:get=TextValue4
    />@TextValue4
<br />

@* same way *@
<InputText
    @bind-Value="@TextValue5"
    @bind-Value:after=@(()=> {TextValue5 = TextValue5 + "💔";}) 
    />@TextValue5

@code {
    string TextValue1 = "VariableTest";
    string TextValue2 = "";
    string TextValue3 = "";
    string TextValue4 = "";
    string TextValue5 = "";
    string TextValue6 = ""; 
}
